<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DurexKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DurexKitExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A12B2D918D17ECE0084B5F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A12B2F418D17ECE0084B5F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A6682E618F521A6000645BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A6682F318F521A6000645BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
